<h3>マスター管理画面トップページ</h3>
 <small>社員の新規登録、情報追記や変更を行います</small>
</h3>
  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li class="li-1">
       <%= link_to "マスター管理画面トップ", master_index_path,class:"breadcrumb-sen"%>
      </li>
 </div>

 <div class="master-kanri">
   <%= link_to "管理画面トップに戻る", root_path,class:"master-kanri-btn"%>
 </div>

  <ul class="info-blocks">
    <li class="info-block"> <%= link_to "社員の新規登録", new_user_path,class:"info-block-sen"%></li>
    <li class="info-block">  <%= link_to "社員情報一覧", users_path,class:"info-block-sen"%></li>
    <li class="info-block"> <%= link_to "社員の図書費一覧", books_all_index_path,class:"info-block-sen"%></li>
    <li class="info-block"> <%= link_to "社員の有給休暇一覧", "#" ,class:"info-block-sen"%></li>
  </ul>


<style>
a:visited { color: none; }
a:hover { text-decoration: none;}
</style>