<h3>社員登録画面</h3>
 <small>
 社員の新規登録を行います。有給休暇は有給の付与日数に関わります。
 </small>
</h3>
<div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li class="li-1">
       <%= link_to "管理画面トップ", master_index_path,class:"breadcrumb-sen"%>
      </li>
      <li class="slash">
      /
      <li>
      <li class="li-a"> 新規登録画面 </li>
</div>

 <div class="master-kanri">
   <%= link_to "マスター管理画面に戻る", master_index_path,class:"master-kanri-btn"%>
 </div>

<%= form_with(model: @user, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %> 
<div class="panel-body">
    <div class="panel-top">
     <div><p class="penel-top-text">社員情報</p></div>
    </div>

    <div class="panel-column">
     <div class="panel-sen">
        氏　名
     </div>
     <div class="penel-field">
      <%= f.text_field :name, placeholder: @user.name,class:"panel-field-in" %>
     </div>
    </div>

    <div class="panel-column">
     <div class="panel-sen">
        住　所
     </div>
     <div class="penel-field">
      <%= f.text_field :address, placeholder: @user.address,class:"panel-field-in" %>
     </div>
    </div>

    <div class="panel-column">
     <div class="panel-sen">
        生年月日
     </div>
     <div class="penel-select">
        <%= raw sprintf(
                f.date_select(
                :birthday,
                with_css_classes:'select-day',
                id:"birth-date",
                use_month_numbers: true,
                prompt:@user.birthday,
                start_year: 1950,
                end_year: (Time.now.year - 5),
                date_separator: '%s'),
                " 年 ", " 月 ") + " 日 " %>
      </div>
     </div>

    <div class="panel-column">
     <div class="panel-sen">
        電話番号
     </div>
     <div class="penel-field">
      <%= f.text_field :phone_number, placeholder: @user.phone_number,class:"panel-field-in"%>
     </div>
    </div>

    <div class="panel-column">
     <div class="panel-sen">
        電話番号 2
     </div>
     <div class="penel-field">
      <%= f.text_field :phone_number_2, placeholder: @user.phone_number_2 ,class:"panel-field-in"%>
     </div>
    </div>

    <div class="panel-column">
     <div class="panel-sen">
        入社日
     </div>
     <div class="penel-select">
        <%= raw sprintf(
                f.date_select(
                :joining_day,
                with_css_classes:'select-day',
                id:"birth-date",
                use_month_numbers: true,
                prompt:@user.joining_day,
                start_year: 2000,
                end_year: (Time.now.year),
                date_separator: '%s'),
                " 年 ", " 月 ") + " 日 " %>
      </div>
     </div>

        <div class="panel-column">
     <div class="panel-sen panel-bottom">
        有給休暇
     </div>
     <div class="penel-field">
     <%= f.collection_select(:working_days_id, WorkingDays.all, :id, :name, {}, {class:"panel-field-select"}) %>
     </div>
    </div>

</div>
   <div class="submit">
    <%= f.submit "登録する" ,class:"submit-btn"%>
   </div>
<% end %>